h1 {
    font-family: "Sofia", sans-serif;
    font-weight: bold;
    
}

p {
    font-family: cursive;
}

body {
    text-align: center;
    background-color: sandybrown;
}

.dropdown select {
    margin: 10px;
    font-family: cursive;
    font-size: 100%;
    outline: 0;
    color: rgb(174, 96, 70);
    background-color: rgb(255, 219, 170);
    border: 2px solid black;
    border-radius: 10px;
    padding: 2%;
    width: 40%;
    cursor: pointer;
}